body,
html {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto;
  min-height: 100vh;
  font-size: 14px;
  margin: 0;
  background-color: #f7f1f0;
}

#form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url("../public/img/login-background.jpeg");
  background-size: cover;
}

.login-container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #FFFFFF;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 2rem;
}

.form-error {
  text-align: center;
  margin-bottom: 1rem;
  color: #cc3333;
  font-size: 0.85rem;
}

.form-input {
  margin-bottom: 1rem;
}

.email, .password {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.email:focus, .password:focus {
  border-color: #7f1d33;
  background: #ffffff;
}

.form-button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background: #C3A6A0;
}

.form-button:hover {
  background: #a4847e;
}

.form-button:active {
  transform: scale(0.98);
}

.form-text {
  text-align: center;
}

.form-link {
  color: #14183a;
  text-decoration: none;
  cursor: pointer;
}

.form-link:hover {
  text-decoration: underline;
}

.navlink li {
  list-style: none;
}

.sec1 {
  padding-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 1;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.sec1 .container-pic img {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  margin: 50px;
}

#buttom_home {
  font-size: 1rem;
  display: inline-block;
  padding: 0.85em 1.6em;
  text-align: center;
  border: 0.1em solid grey;
  border-radius: 0.8em;
  text-decoration: none;
  color: grey;
}

#buttom_home:hover {
  color: #000000;
  background-color: #ddcfcc;
}

.trend1,
.trend2,
.trend3,
.container-texts {
  display: none;
}


.sec2_text {
  align-items: center;
  display: flex;
  text-align: center;
  font-size: large;
  font-weight: 100;
  padding-top: 2em;
}

.sec2_pic {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: large;
  font-weight: 100;
  padding-top: 2em;
}

.sec2_pic img {
  display: flex;
  width: 65%;
  height: 75%;
  border-radius: 10px;
  margin-left: auto;

}

.sec2_pic p {
  font-size: 95%;
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 40px 40px 40px 40px;
  background-color: #ddcfcc;
  width: 100%;
}

.footer1>* {
  flex: 50%;
  margin-right: 1.25em;
}

.footer>* {
  flex: 100%;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.footer ul {
  padding-left: 0;
}

.footer1 {
  display: flex;
  flex-flow: row wrap;
}

.footerul a {
  color: rgb(100, 100, 100);
}

.contact a {
  color: rgb(100, 100, 100);
}

.groupmember {
  display: flex;
  flex-wrap: wrap;
}



.cloth h1 {
  font-size: 90%;
}

.cloth h2 {
  font-size: 15px;
}


/*about page*/
.aboutpagetitle p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}

.aboutpagecontainer {
  margin: 10px 300px;
}

.aboutpagecontainer .text {
  padding: 30px;
  margin: 20px;
  background-color: #C3A6A0;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}


/* new generator */

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container .generator {
  background-color: #C3A6A0;
  border-radius: 20px;
  height: 450px;
}

.generator label {
  display: inline-block;
  justify-content: center;
  margin-bottom: 25px;
}

#choice .button,
#BUDGET_input {
  display: inline;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  border-color: black;
}

#choice {
  margin: 20px;
  margin-left: 0px;
}

#choice:nth-last-of-type(1) {
  margin-top: 10px;
}

.generator {
  border-radius: 30px;
  margin: 10px 30px 10px 10px;
  padding: 20px 20px;
  border-color: black;
}

.output .Generator {
  background-color: #F7F1F0;
  line-height: 2.5;
  font-size: 1rem;
  border-radius: 10px;
  /* margin-left: 80px;
    margin-top:5px; */
}


.Container .generated-cloth {
  margin-left: 50px;
}

.subpage-title {
  text-align: center;
  margin: 80px auto;
  position: relative;
  line-height: 140px;
  color: #787878;
}

.cloth {
  flex-grow: 1;
}

.cloth img {
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.save-to-closet {
  width: 170px;
  height: 50px;
  left: 841px;
  top: 739px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 7px 20px rgba(121, 188, 207, 0.4);
  border-radius: 50px;
  margin-bottom: 60px;
}

.save-to-closet:hover {
  background-color: #787878;
}

.output .Generator:hover {
  background-color: #787878;
}

.blog .blogText {
  padding: 5px 10px 10px;
}

h1{
  text-align: center;
}

#post_outfit{
  border: none;
  border-radius: 12px;
  background-color: rgb(212, 166, 166);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

p.outfit_title{
    font-weight: bold;
}

button{
  border: none;
  border-radius: 12px;
  background-color: rgb(221, 205, 205);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#post_outfit:hover{
    background-color: pink;
}

button:hover{
    background-color: pink;
}

.allBlog {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.blog {
  flex: 0 0 23.5em;
  box-shadow: 8px 8px rgba(117, 3, 3, 0.333);
  margin: 50px;
  border: 1px solid;
  border-radius: 18px;
  flex-shrink: 1;
} 

.blog img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}



/* media query section */
@media (max-width:597px) {
  nav {
    width: 100%;
    margin-bottom: 6rem;
  }

  .navbar {
    overflow: hidden;
    margin-left: 0.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .navbar header {
    display: inline-block;
  }

  .navbar header .logo {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: #7f1d33;
    margin-left: 2rem;
    margin-right: 0.2rem;
    padding-top: 1rem;
  }

  .navbar a {
    float: left;
    font-size: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  .navlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .nav-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .nav-dropdown .dropbutton {
    border: none;
    outline: none;
    margin: 0;
    font-size: 1.2rem;
    color: black;
    background-color: inherit;
    font-family: inherit;
  }
  
  nav a:hover {
    border-bottom: 0.3rem solid #7f1d33;
    transition: ease-out .25s;
    margin: -0.3rem;
  }

  .navbar header a:hover {
    color: #C3A6A0;
    border-bottom: none;
  }

  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-dropdown-content a {
    float: none;
    color: black;
    font-size: 0.8rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  .hamburger {
    margin-top: 4rem;
    float: right;
  }

  .hamburger.active  .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navlink {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navlink li {
    margin: 8px 0;
  }

  .navlink.active {
    left: 0;
  }
} 

@media (min-width:598px) {
  .navbar {
    overflow: hidden;
    margin-left: 0.75rem;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar header .logo {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #7f1d33;
    margin-right: 0.2rem;
    padding-top: 2rem;
  }
  
  .navlink {
    display: unset;
  }

  .navbar .login {
    float: right;
    font-size: 0;
  }
  
  .navbar .login .fa {
    font-size: initial;
  }

  .hamburger {
    display: none;
  }

  .nav-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .nav-dropdown .dropbutton {
    border: none;
    outline: none;
    margin: 0;
    padding: 20px 10px;
    font-size: 1.2rem;
    color: black;
    background-color: inherit;
    font-family: inherit;
  }
  
  nav a:hover {
    border-bottom: 0.3rem solid #7f1d33;
    transition: ease-out .25s;
    margin: -0.3rem;
  }
  .navbar header a:hover {
    color: #C3A6A0;
  }
  
  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-dropdown-content a {
    float: none;
    color: black;
    font-size: 1rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

  .trend1,
  .trend2,
  .trend3,
  .container-texts {
    display: flex;
  }

  .sec2_text {
    align-items: center;
    display: flex;
    text-align: center;
    font-size: large;
    font-weight: 100;
    padding-top: 2em;
  }

  .sec2_pic {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: large;
    font-weight: 100;
    padding-top: 2em;
  }

  .sec2_pic img {
    display: flex;
    width: 65%;
    height: 75%;
    border-radius: 10px;
    margin-left: auto;

  }

  .sec2_pic p {
    font-size: 30px;
    padding: auto;
  }

  .Container {
    flex-wrap: nowrap;
  }

  .Container {
    flex-wrap: nowrap;
  }

  .Container .generated-cloth {
    display: flex;
  }

  .subpage-title {
    width: 500px;
  }

  .Container .generator {
    margin-left: 90px;
    margin-bottom: 90px;
  }

  .cloth img {
    height: 40%;
  }

  .cloth p {
    margin-bottom: 10px;
  }

  .cloth .second {
    margin-top: 26px;
  }



}

@media (min-width:992px) {
  .navbar {
    overflow: hidden;
    margin-left: 1rem;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    font-size: 1.6rem;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar header .logo {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #7f1d33;
    margin-right: 0.2rem;
    padding-top: 1.5rem;
  }
  
  .navbar .login {
    float: right;
    font-size: 1.6rem;
  }
  
  .nav-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .nav-dropdown .dropbutton {
    border: none;
    outline: none;
    margin: 0;
    padding: 20px 20px;
    font-size: 1.6rem;
    color: black;
    background-color: inherit;
    font-family: inherit;
  }
  
  nav a:hover {
    border-bottom: 0.3rem solid #7f1d33;
    transition: ease-out .25s;
    margin: -0.3rem;
  }
  .navbar header a:hover {
    color: #C3A6A0;
  }
  
  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

  .footer1>* {
    flex: 1;
  }

  .footer1 {
    flex: 2 0px;
  }

  .contact {
    flex: 1 0px;
  }


  main div img {
    width: 750px;
    height: 580px;
    /* margin-left: 50%; */
    display: block;
  }


  main div p:last-child {
    font-weight: bold;
  }

  .container-texts {
    font-size: 3.5rem;
    margin-top: 50px;
    height: auto;
    margin-left: 100px;
  }

  footer {
    margin-top: 350px;
  }

  .Container {
    display: flex;
    flex-grow: 1;
    margin: 5% 20% 10px 10px;
  }

  .Container .generated-cloth {
    flex-basis: 60%;
    display: flex;
  }

  .cloth {
    flex-grow: 1;
  }

  .cloth .second {
    margin-top: 25px;
  }

  #buttom-home {
    margin: 20px;
  }
}

@media (min-width:1440px) {


  .cloth .second {
    margin-top: 10px;
  }

}